/* CSS Resets */

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* End of CSS Resets */

/* General Styles */

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

 button {
    padding: 0.25rem 2rem;
    border-radius: 16px;
 }

/* End of General Styles */

/* Header Section Styles */

header {
    border-bottom: 2px solid #ededed;
    display: flex;
}

header > h1 {
    width: 25%;
    margin-left: 10%;
    color: #ee6333;
}

nav {
    width: 50%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;
}

.navbar-button {
    background-color: #1E51AD;
    color: white;
    border: 1px solid #1E51AD;
}

/* End of Header Styles */

/* Main Section Styles */

/* Main Section Homepage Tab Styles */

main {
    padding: 2rem 0;
    width: 75%;
    margin: 0 15% 0 10%;
    flex: auto;
    display: flex;
}

.hero-text {
    padding: 2rem 0;
    width: 40%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.home-header {
    color: #ee6333;
    font-size: 3rem;
    line-height: 1.1;
}

.hero-text-span {
    color: black;
}

.hero-text > p {
    color: #8e8e8e;
}

.explore-button {
    background-color: #ee6333;
    color: white;
    border: 1px solid #ee6333;
}

.hero-image {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}

/* Main Section Menu Tab Styles */

.menu-normal {
    display: block;
}

.menu-header {
    font-size: 3rem;
    line-height: 1.1;
}

.menu-header-span {
    color: #ee6333;
}

.menu-item-container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.menu-item {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-bottom: 1px solid #ededed;
}

.menu-item > img {
    width: 100%;
    height: auto;
}

.menu-item > h3 {
    font-weight: normal;
}

.menu-item > p {
    text-align: right;
    text-decoration: underline;
    color: #1E51AD;
}

/* Main Section About Tab Styles */

.about-us {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.design-credits {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.about-us > h2 {
    font-size: 3rem;
    color: black;
}

.design-credits > h2 {
    color: #ee6333;
    font-size: 3rem;
}

/* End of Main Section Styles */

/* Footer Section Styles */

footer {
    background-color: #2d2928;
    color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer > h2 {
    color: #ee6333;
}

.footer-outro {
    width: 25%;
    text-align: center;
}

footer > p:nth-last-child(1) {
    border-top: 1px solid #ededed;
    padding: 0.5rem;
}

/* End of Footer Section Styles */